.left img  {
    max-height: 300px;
}

#title, #title_ab {
	width: 130px;
}






@media screen and (max-width: 767px) {
	.left, .right   {   
			flex-basis: 100%;
			width: 100%;
	}

	.row_cont  {  
			display: block;
	}


	.left  {  
			margin-bottom: 40px;
	}

}
