
h2 {
	color: rgba(80, 196, 250, 1);
	font-size:30px;
	text-align:right;
}

.main-container{ 
flex-direction:column;
padding: 20px 20px 20px 20px;
}

.row_cont {
	background-position: top right;
	background-repeat: no-repeat;
	width: 100%;
}

#title {
	width: 500px;
}


.left {
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;

}
.left ul {
	margin-top: 40px;
}

.left p {
	margin-top: 40px;
}
.left li {
	color: rgba(80, 196, 250, 1);
	list-style: circle;
}

.textbox{
	width:50%;
}



.ab.container.row_cont {
	flex-direction: row-reverse;
}

.ab.container.row_contr h1, .ab.container.row_cont p, .ab.container.row_cont h2 {
	text-align: right;
}

.ab.container.mrow_cont ul, .ab.container.row_cont li, .ab.container.row_cont h2 {
	text-align: right;
	direction: rtl;
}

.ab .left {
		width: 100%;
		justify-content: flex-end;
		align-items: flex-end;
}

#title_ab {
	width: 380px;
}


.row_cont  {   
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	}
	
.ab.container  {   
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	
	}

@media screen and (max-width: 767px) {
	
	.left, .right {
		width: 100%;
	}
	.textbox {
		width: 100%;
		padding: 1px;
	}

	#title {
		width: 420px;
	}

	#title h1 {
		font-size: 20px;
	}
	#title:after, #title_ab:after {
		content: 0px;
		height: 0px;
		width: 0px;
		border: 0px;
	}

	#title, #title_ab {
		max-width:100%;
		font-size: 10px;
	}

	.main-container{ 
		padding: 5px 5px 5px 5px;
		}

	.container.row_cont {
		padding: 1px 1px 1px 1px;
	}
}



