h2 {
	color: rgb(41, 171, 226);
	font-size: 1.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

#title {
	width: 280px;
}

.right, .left {
	width: 60vw;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}


.ab.left, .ab.right{
	width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}

#title_ab {
	width: 320px;
}


.ab.col_cont1 {
	justify-content: flex-end;
	align-items: flex-end;
	width: 70%;
	
}

.textbox{
	padding-left: 0px;
	padding-right:0px;
}


.ab.right div {
	padding-left: 1vw;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.ab.left, .ab.right {
	width:100%;
}

.ab.col_cont1  {
	width:100%
}

.ab .textbox {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}


.right {
	flex-direction: row;
	padding-top: 2vw;
	align-items: flex-start !important;
}

.right div {
	width:100%;
	padding-right: 2vw;
	padding-top: 1vw;
	
}



@media screen and (max-width: 900px) {
	
	h2 {
		color: rgb(41, 171, 226);
		font-size: 5vw;
		padding-top: 1vw;
		padding-bottom: 1vw;
	}

	.right {
		flex-direction: column;
	}
	

	.ab .textbox {
     width: 100%;
}
}

