

.partners {
    color: #111;
    font-size: 24px;
    text-align: center;
    font-family: MyriadPro-Light;
    margin-bottom: 60px;
    margin-top: 60px;
}


.partners img {

    width: 150px;
}

.index-slider {
    padding: 10px 0;
    background: rgb(3, 132, 222);
    background: radial-gradient(circle, rgba(3, 132, 222, 1) 0%, rgba(130, 204, 231, 1) 0%, rgba(63, 179, 254, 1) 100%);
}

.index-slider .text-img {
    max-width: 1000px;
    padding: 0px 30px;
    margin: 0 auto;
}

.index-slider h2,
p {
    color: #fff;
    font-family: MyriadPro-Light;
}

.index-slider h2 {
    font-size: 24px;
}


.index-slider .text {
    float: right;
    padding-top: 60px;
}

.index-slider img {
    float: left;
    padding-left: 0 20px;
}

.slick-next {
    right: 30px !important;
}

.slick-prev {
    left: 30px !important;
}

.slick-dots {
    bottom: 25px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
}

#partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 3vw;
}

#partners>div>h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: 	rgb(148, 229, 255);
	font-size: 3vw;
}

.ab#partners {
	flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {

    .index-slider .text {

        width: 100%;

    }

    .slick-arrow {
        display:none !important;
    }

    .index-slider img {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    #partners  {   
		flex-direction: column !important;
	}

	#partners h2 {
		font-size: 28px !important;
	}
}