.container.main-container {
	display: flex;
	flex-direction: column;
}

#partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 3vw;
}

#partners>div>h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: 	rgb(148, 229, 255);
	font-size: 3vw;
}

.ab #partners {
	flex-direction: row-reverse;
}



#top {
	display: flex;
	flex-direction: row;
}

#breaks {
	background: rgb(80,196,255);
	background: -moz-radial-gradient(circle, rgba(80,196,255,1) 0%, rgba(80,196,255,1) 25%, rgba(80,196,255,1) 50%, rgba(80,196,255,0.4990371148459384) 75%, rgba(80,196,255,0) 100%);
	background: -webkit-radial-gradient(circle, rgba(80,196,255,1) 0%, rgba(80,196,255,1) 25%, rgba(80,196,255,1) 50%, rgba(80,196,255,0.4990371148459384) 75%, rgba(80,196,255,0) 100%);
	background: radial-gradient(circle, rgba(80,196,255,1) 0%, rgba(80,196,255,1) 25%, rgba(80,196,255,1) 50%, rgba(80,196,255,0.4990371148459384) 75%, rgba(80,196,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50c4ff",endColorstr="#50c4ff",GradientType=1);

	width: 100%;
	height: 1vh;
	margin-top: 3vw;
}

#title_ab {
	width: 240px;
}

@media screen and (max-width: 767px) {
	#top, #partners  {   
		flex-direction: column !important;
	}

	#partners h2 {
		font-size: 28px !important;
	}
	.left img {
		max-width: 90%
	}




}