.one  , .two {   
float: left;
width: 50%;

}


.left , .right  {   
padding: 0px 30px;
}

.textbox {
    padding-left: 0px;
    padding-right: 0
}
.lists .textbox {
    width: 33%;

}

.ab .lists .textbox {
    width: 100%;

}




.ab .two img  {   
    max-width: 100%;
    width: 670px;
    height: 800px;
}

#title_ab  {  
width: 300px;
}

.main-container  {   
margin:  40px 0px;
}

.reversed  {   
display: flex;
    flex-direction: row-reverse;
}


.ab .left, .ab .right {
    align-items: flex-end;
    text-align: right;
}

.ab .textbox {
    text-align: right;

}
#title  {   
width :300px;
}

.right  {  
font-weight: bold;
margin-bottom: 40px;
display: flex;
flex-direction: column;
}
.right .lists {
    display: flex;
    flex-direction: row;
}

.right, .left {

justify-content: flex-start; 
 align-items: flex-start;
}




h2  {   
color: rgb(41, 171, 226);
font-size: 20px;
font-family: MyriadPro-Light;
margin-bottom: 10px;
margin-top: 20px;

}


.title4 {

    color: rgb(41, 171, 226);
font-size: 20px;
font-family: MyriadPro-Light;

background: rgb(80,196,255);
background: -moz-linear-gradient(270deg, rgba(80,196,255,0.5634628851540616) 0%, rgba(80,196,255,0.36738445378151263) 25%, rgba(80,196,255,0.1741071428571429) 50%, rgba(80,196,255,0.10968137254901966) 75%, rgba(80,196,255,0) 100%);
background: -webkit-linear-gradient(270deg, rgba(80,196,255,0.5634628851540616) 0%, rgba(80,196,255,0.36738445378151263) 25%, rgba(80,196,255,0.1741071428571429) 50%, rgba(80,196,255,0.10968137254901966) 75%, rgba(80,196,255,0) 100%);
background: linear-gradient(270deg, rgba(80,196,255,0.5634628851540616) 0%, rgba(80,196,255,0.36738445378151263) 25%, rgba(80,196,255,0.1741071428571429) 50%, rgba(80,196,255,0.10968137254901966) 75%, rgba(80,196,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50c4ff",endColorstr="#50c4ff",GradientType=1);
}

.gardient7  {   
margin-bottom: 20px;
}

#title2 {  
text-align: center;
margin-bottom: 30px;
box-shadow: 0 10px 4px -9px #aaa;
}


#title2 h2 {   
border-width: 3px 3px 0px 3px;
border-radius: 10px 10px 0px 0px;
border-color: rgb(41, 171, 226);
border-style: solid;
display: inline-block;

font-weight: bold;
margin-bottom: -2px;
}


.shadow  {  
box-shadow: 0 10px 10px -5px;
height: 1px;
}



@media screen and (max-width: 767px) {
	.one  , .two {   

width: 100%;

}

.reversed  {   
display: block;
}

.left , .right  {  

width: 100%;
padding: 0px;
}

#smallbox {  
margin-bottom: 40px;
}

.right .lists {

    flex-direction: column;
    width:100%;
}

.textbox {
    width:100% !important;
    padding-left: 2vw;
    padding-right: 2vw;
}

h2 {
    padding-left: 2vw;
    padding-right: 2vw;
}

.two img  {   
    max-width: 100% !important;
    height: auto !important;
    margin-bottom: 40px;
    }

}


