#title {
    width: 450px;
    left: 2px;
}

#title_ab {

    left: 2px;

}



.row_cont, .row_cont_ab {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}



.row_cont_ab .textbox{
    width: 60vw
}

.left {
    justify-content: flex-start;
    padding: 2vw;
}

table {
    width:100%;
    border-collapse: collapse;
    font-family: MyriadPro-Light;
}

td {
    background-color: rgba(148, 229, 255, 0.5);
    color: #29ABE2;
    text-align: center;
    border-right: 2px solid #1C75BC;
    border-bottom: 2px solid white;
    padding: 5px;
}


th {
    background-color: #29ABE2;
    color: white;
    height:50px;
    width: 300px;
    text-align: center;
    border-left: 2px solid white;  
}


th.gardient7  {  
    padding: 10px 10px 10px 10px;
}



.gardient7  {  
margin-bottom: 20px;
}

.left {
    width: 70vw;
    align-items: flex-start;
}

.right {
   display: none;
}
.table_ab {


}

.table_ab td {
 
    border-left: 5px solid #1C75BC;

}

.row_cont_ab {
    display:flex;
    flex-direction: row-reverse;
}

.row_cont_ab .left {
    justify-content: flex-end;
    align-items: flex-end;
}

.textbox{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

#title_ab {
    width: 730px;
}


.row_cont_ab .left{
    width: 100%;
    justify-content: center;
    align-items: center;
    }

@media screen and (max-width: 1000px) {  
  #title_ab  {  
    width: 100%;
  }
}




@media screen and (max-width: 767px) {
    .row_cont_ab .textbox{
        width: 100% !important;
    }
   .left  {  
    width: 100%;
   }

   .right {  
    display: none;
   }


   #title , #title_ab {  
    width: 100%;
    min-height: 50px;
    height: auto;
   }

   #title::after , #title_ab::after {  
    display: none;
   }

   .textbox  {  
        padding: 0px;
   }

}
