#shape {
	height: 80px;
	width: 700px;
}


#shape::after {
	left:700px;
	background: rgba(0, 0, 0, 0);
		border-bottom: 40px solid rgba(80, 196, 250, 1);
		border-top: 40px solid rgba(0, 0, 0, 0);
		border-left: 40px solid rgba(80, 196, 250, 1) ;
		border-right: 40px  solid rgba(0, 0, 0, 0);

}

h2 {
	color: rgba(80, 196, 250, 1);
	font-size:30px;
}

.main-container{
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:  flex-start;
	background-repeat: no-repeat;
	background-color: white;
	background-position: right top; 
	background-size: cover;
}

.gardient7  {   
margin-bottom: 40px;
}


.left
{
margin-top: 40px;
align-self: start;
margin-bottom:20px;
}

.left > .textbox {
    width:100%;
}

.left>.textbox>div>p {
font-size: 15px !important;
}

.right
{
display:flex;
width:100%;
flex-direction:row;

}

.right .textbox {
display:flex;
flex-direction:column;
margin-bottom:20px;
justify-content: flex-end;
align-items:  flex-start;
padding: 0 20px;
width: 33%
}

.ab .right .textbox {
	display:flex;
	flex-direction:column;
	margin-bottom:20px;
	justify-content: flex-end;
	align-items:  flex-end;
	padding: 0 20px;
	width: 33%
	}

.right> div>.textbox {
	display:flex;
	flex-direction:column;
	margin-bottom:20px;
	}


	#title  {  
        width: 400px;
	}


	#title::after {
    content: '';
    display: inline-block;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 100%;
    border-bottom: 25px solid rgba(80, 196, 250, 1);
    border-top: 25px solid transparent;
    border-left: 25px solid rgba(80, 196, 250, 1);
    border-right: 25px solid transparent;
}


#title_ab  {  
	width: 300px;
}





.ab .left, .ab .right {
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
}

.ab .left {
	flex-direction: row;
}

.ab .left .textbox {
	align-self: flex-end;
	
}

.ab .right div {
	text-align:  right;
}

@media screen and (max-width: 767px) {
	
	.right  { 
		display: block;
	}

	.textbox {
		width: 100% !important;
	}

}
