.left, .right {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

.right {
	justify-content: space-evenly;
	margin-top: 40px;
	flex-direction: row;
}

.bold  {  
font-weight: bold;
}

.gardient7 {  
margin-bottom: 20px;
}

div.container  {  
padding: 40px 0px;
}

.textbox {
	padding: 0 30px;
}

.imagebox {
	height: 120px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

}


.imagebox h2 {
color: rgb(41, 171, 226);
font-size: 20px;
display:inline-block;
font-family: MyriadPro-Light;
font-weight: bold;

}

#title {
width: 400px;
}

#title_ab {
	width: 400px;
}


.ab.textbox  {  
	flex-basis: 100%;
}

.ab.textbox p, .ab.textbox  .imagebox {  
text-align: right;
}

.ab.right {
	flex-direction: row-reverse;
}

.ab #title_ab {
	width: 170px;
}


#title {
	width: 160px;
}

@media screen and (max-width: 767px) {

  .right {
  	display: block;
  }


.right .textbox  {
	margin-bottom: 40px;
}


#title_ab {
    width: 90%;
}


.imagebox h2  {  
	text-align: center;
	display: block;
}


}
