h2 {
	color: rgb(41, 171, 226);
	font-family: MyriadPro-Light;
	font-size: 24px;
}


.left {
justify-content: flex-start; 
align-items:  flex-start;
padding: 3vw;
}

#title {
	width: 150px;
}

.col_cont_ab {

	flex-direction: row-reverse;
}


.col_cont  {   
background-repeat: no-repeat;
background-size: contain;
background-position: right;

}

.ab.col_cont  {   

background-repeat: no-repeat;
background-size: contain;
background-position: left;
height: 40vw;

}

.bold  {  
font-weight: bold;
}


.col_cont  {   
margin: 40px 0px;
}

@media screen and (max-width: 767px) {

.col_cont  {  
flex-flow: row wrap;
}

.left, .right  {  
width :100%;
flex-basis: 100%;
margin-bottom: 40px;
}

.screen-right  {  
height: 400px;
order: 2;
}
.col_cont  {   
	background:none;

	
	}

	.ab.container.col_cont 
	{
		background-image: none !important;
	}


}

