h1 {
	color: rgba(80, 196, 250, 1);
	font-size:40px;
}

.result_box {

width: 100%;
margin-top: 1vw;
border-bottom: 1px solid black;
}


.search_body {
	color: rgba(80, 196, 250, 1);
}

.left {
	padding: 3vw;
}

a {
	color: rgba(80, 196, 250, 1);
	font-size:25px;
}

.search_body {
	margin-top:10px;
	padding: 10px 0px 10px 0px;
}

.main-container {
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: 100% 150px; 
	background-attachment: fixed;
}