h2 {
	color: rgb(41, 171, 226);
	font-size: 20px;
	font-family: MyriadPro-Light;
	margin-bottom: 10px;
	margin-top: 20px;

}

.main-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	background-repeat: no-repeat;
	background-color: white;
	background-position: right top;
	background-size: cover;
}



#title {
	width: 380px;
}

#title::after {

	border-bottom: 25px solid rgba(80, 196, 250, 1);
	border-top: 25px solid transparent;
	border-left: 25px solid rgba(80, 196, 250, 1);
	border-right: 25px solid transparent;
	background: transparent;
}

table {
	font-family: MyriadPro-Light;
	border-collapse: collapse;
	margin-bottom: 40px;
}

td {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: white #29ABE2 white #29ABE2;
}


.left {
	width: 50%;
	align-self: start;
	margin-bottom: 20px;
}

.left>.textbox {
	width: 100%;
}


.right {
	display: block;
	width: 100%;
	flex-direction: row;

}

.right {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
}

.right .lists {
	display: flex;
	flex-direction: row-reverse;
}

.right,
.left {

	justify-content: flex-start;
	align-items: flex-start;
}


.ab .left {

	float: right;
	width: 100%;
	display: block;
}

.ab table {
	width: 50%;
	margin-left: 50%;
}

.ab .left,
.ab .right {
	align-items: flex-end;
	text-align: right;
}

.ab .textbox {
	text-align: right;
}


.right>div>.textbox {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

table {
	margin-top: 30px;
	width: 100%
}

td {
	background-color: rgba(148, 229, 255, 1);
	color: #29ABE2;
	padding: 5px;
	text-align: center;
}

th {
	background-color: #29ABE2;
	color: white;
	padding: 10px;
	text-align: center;
}

#shape {
	height: 80px;
	width: 600px;
}


#shape::after {
	background: rgba(0, 0, 0, 0);
	left: 600px;
	border-bottom: 40px solid rgba(80, 196, 250, 1);
	border-top: 40px solid rgba(0, 0, 0, 0);
	border-left: 40px solid rgba(80, 196, 250, 1);
	border-right: 40px solid rgba(0, 0, 0, 0);
}
.lists { 
	display:flex;
	flex-direction: row;
	justify-content: space-between;
width: 100%;	
}

#title_ab {
	width: 
}


@media screen and (max-width: 767px) {
	.right>.textbox {
		width: 100%;
	}


	.ab table {
		width: 100%;
		margin-left: 0px;
	}

	.right .lists {
		width: 100%;
		flex-direction: column; 
	}

	.left {
		width: 100%;
	}

	.textbox {
		padding-left: 0;
		padding-right:0;
	}

}