* {
	color:#158FCC;
}
.container.main-container {
	flex-direction: column;
	min-height: 77vh;
	padding: 40px;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.left  {   
width: 100%;

}

.right img {  
max-width: 100%;
margin-bottom: 60px;
}

.left .textbox {
	align-items: flex-start;
	
}
.left p {
width: 50%;
}

#shape {
	height: 80px;
	width: 300px;
}


#shape::after {
	left:300px;
	background: rgba(0, 0, 0, 0);
	border-bottom: 40px solid rgba(80, 196, 250, 1);
	border-top: 40px solid rgba(0, 0, 0, 0);
	border-left: 40px solid rgba(80, 196, 250, 1) ;
	border-right: 40px  solid rgba(0, 0, 0, 0);
}

#title {

	width:200px;




}
.left {.    
justify-content: flex-start;
 align-items: flex-start;
}



.middle li {  
margin: 10px 0;
}

.middle h2  {
	text-align: left;
	color: rgb(41, 171, 226);
	font-size:30px;
}

#shadow {
	width: 400px;

	box-shadow: 0px -1px 20px 2px black;
	box-shadow: 0px -1px 10px 2px black;
	box-shadow: 0px -1px 9px 2px black;
}


.middle {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-family: MyriadPro-Light;
	font-weight: bold;
}

.middle>div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.middle .textbox {
	min-width: 33%;
	padding-top: 2vw;
	}

.middle h2 {
	font-size: 18px;
}
.middle ul {
	margin-top: 70px;
	width: 33%;

}

.right {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
}


.ab #textbox {
	text-align: right;
}

h2 , ul , li{  
font-family: MyriadPro-Light;
}

.right p {  
margin:  10px 0;
}

.shadow h2  {  
font-size: 24px;
padding: 10px;
border-width: 6px 6px 0px 6px;
    border-radius: 20px 20px 0px 0px;
    border-color: rgb(41, 171, 226);
    border-style: solid;
    display: inline-block;
}


.shadow {  
box-shadow: 0 10px 4px -9px #aaa;
text-align: center;
margin-bottom: 40px;
}

.smallbox  {  
margin-bottom: 60px; 
}

.ab .left p {   
width: 50%;
margin-left: 50%;
}


.right.right-ab {   
flex-direction: row-reverse;
}


.right > div {   
padding: 0 20px;
}

.left {
	justify-content: flex-start;
	 align-items: flex-start;
	}

.ab .left {

	align-items: flex-end;
}

#title_ab {
	width:320px;}

	.mobile {
		display:none;
	}

@media screen and (max-width: 1100px) {
	.right   {   
		display: flex;
		flex-direction: column !important;
}

	.right-ab{   
		display: flex;
		flex-direction: column !important;
}
.desktop {
	display:none;
}

.mobile {
	display:block;
}

}


@media screen and (max-width: 767px) {
	.right  {   
			display: flex;
			flex-direction: column !important;
	}

.left p {
	width :100%;
	display: flex;
			flex-direction: column !important;
}
	.middle>div {

		flex-direction: column !important;
}

.ab p {
    width: 100% !important; 
    margin-left: 0 !important;
}


}
