#title{
	width: 250px;
}


.left img {  
max-width: 70%;
}



#title_ab  {  
min-height: 50px;
height: auto;
width: 300px;
}


@media screen and (max-width: 1000px) {
	#title  {  
		width: 90%;
	}

}



@media screen and (max-width: 767px) {
	.left, .right   {   
			flex-basis: 100%;
			width: 100%;
	}

	.row_cont  {  
			display: block;
	}


	.left  {  
			margin-bottom: 40px;
	}

	

}

