#title {
	width: 210px ;
}




#title_ab {
	width: 220px;
}

.textbox {
	padding: 0px !important;
	padding-top: 30px!important;
}


h2 {
	
	color: rgb(41, 171, 226);
	font-size:30px;
	text-align:right;
	margin-bottom: 40px;
}



@media screen and (max-width: 767px) {
	.left, .right   {   
			flex-basis: 100%;
			width: 100%;
	}

	.row_cont  {  
		display: flex;
    	flex-direction: column-reverse;

	}


	.left  {  
			margin-bottom: 40px;
	}

	#title {
    width: 70% !important;
}

#title_ab {
	margin-top: 10px;
    width: 80% !important;
}

#title_ab h1 {
    font-size: 26px !important;
}

}
