{% extends 'base_blog.html' %}
{% load static %}
{% block main %}
{% block css %}
<link rel="stylesheet" href="{% static  '/blog/css/pages/about.css' %}">
{% endblock %}
<div class='container row_cont'>
    <div class='left'>
        <img src="{% static 'blog/img/image5.png' %}">
    </div>
    <div class='right'>
        {% if lang == "en" %}
        <div class="textbox">
            <div class='gardient7' id='title'>
                <h1>About us</h1>
            </div>
            {{ textbox0|safe }}
        </div>
        {% else %}
        <div class='textbox_ab'>
            <div class='gardient7' id='title_ab'>
                <h1> نبذة عنا </h1>
            </div>
            {{ textbox0|safe }}
        </div>
        {% endif %}
    </div>


    </div>
</div>
</div>
{% endblock %}