{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/caring.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container row_cont' style='background-image: url({% static "blog/img/caring.png" %})'>
        <div class='left'>
                <div class='textbox'>
                        <div class='gardient7 ' id='title'>
                                <h1>CARING FOR SOMEONE WITH PROSTATE CANCER </h1>
                        </div>

                        {{ textbox0|safe }}
                </div>
        </div>

        <div class='right'>

        </div>
</div>

{% else %}
<div class='ab container main-container' style='background-image: url({% static "blog/img/caring-ab.png" %});'>
        <div class='left'>
                <div class='textbox'>
                        <div class='gardient7 ' id='title_ab'>
                                <h1>رعاية مرضى سرطان البروستاتا  </h1>
                        </div>

                        {{ textbox0|safe }}

                </div>
        </div>

        <div class='right' style='background-image: url({% static "portal/img/caring.png" %}); background-position: right; background-repeat: no-repeat;'>

        </div>
</div>
{% endif %}
{% endblock %}