{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/dad.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container col_cont1'
    style="background-image: url({% static  '\blog\img\dnd-bckg.png' %}) ;  background-repeat: no-repeat; background-size: cover; background-position: left">
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title'>
                <h1>Detection and Diagnosis </h1>
            </div>
            <br>
            <div class='textbox'>
                {{ textbox0|safe }}
            </div>
        </div>
    </div>

    <div class='right'>
        <div>
            <div class='textbox'>

                <h2>Prostate-specific antigen (PSA):</h2>
                {{ textbox1|safe }}

            </div>
            <div class='textbox'>

                <h2>Digital rectal examination (DRE): </h2>

                {{ textbox2|safe }}


            </div>
            <div class='textbox'>

                <h2>Transrectal ultrasonography: </h2>
                {{ textbox3|safe }}


            </div>
        </div>
        <div>
            <div class='textbox'>

                <h2>Scans and x-rays: </h2>

                {{ textbox4|safe }}

            </div>
            <div class='textbox'>

                <h2>Prostate biopsy</h2>


                {{ textbox5|safe }}

            </div>
        </div>
    </div>
</div>
{% else %}
<div class='ab  container col_cont1'
style="background-image: url({% static  '\blog\img\dnd-bckg-ab.png' %}) ;  background-repeat: no-repeat; background-size: cover; background-position: right">
    <div class='ab left'>
        <div class='ab textbox'>
            <div class='ab gardient7 ' id='title_ab'>
                <h1>اكتشاف المرض وتشخيصه </h1>
            </div>
        
            <br>
            <div class='textbox'>
                {{ textbox0|safe }}


        </div>
    </div>
    </div>

    <div class='ab right'>
        <div>
            <div class='ab textbox'>

                <h2>(PSA)فحص المستضد البروستاتي النوعي </h2>


                {{ textbox1|safe }}

            </div>
            <div class='ab textbox'>

                <h2>(DRE)اختبار المستقيم الرقمي </h2>


                {{ textbox2|safe }}


            </div>
            <div class='ab textbox'>

                <h2>فحص المستقيم عن طريق الموجات فوق الصوتية </h2>


                {{ textbox3|safe }}


            </div>
        </div>
        <div>
            <div class='ab textbox'>
             
                {{ textbox4|safe }}
            </div>
            <div class='ab textbox'>

                <h2>المسح والأشعة السينية </h2>

                {{ textbox5|safe }}
            </div>

            <div class='ab textbox'>

                <h2>خزعة البروستاتا </h2>


                {{ textbox6|safe }}

            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}