{% extends 'base_blog.html' %}
{% load static %}
{% block css %}



<!-- slick slider -->

<link rel="stylesheet" type="text/css" href="  {% static  'admin/js/slick/slick.css' %}" />

<link rel="stylesheet" type="text/css" href=" {% static  'admin/js/slick/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static  'blog/css/pages/index.css' %}">

{% endblock %}
{% block main %}


{% if lang == "en" %}

<div class="index-slider">
  <div>


    <div class="text-img">
      <img src="{% static 'blog/img/indexslider1.png' %}">
      <div class="text">
        {{ textbox1|safe }}
      </div>
    </div>

  </div>




  <div>



    <div class="text-img">
      <img src="{% static 'blog/img/indexslider2.png' %}">
      <div class="text">
        {{ textbox2|safe }}
      </div>
    </div>
  </div>
  <div>


    <div class="text-img">
      <img src="{% static 'blog/img/indexslider3.png'%}">
      <div class="text">
        {{ textbox3|safe }}
      </div>
    </div>

  </div>
</div>
<div id="partners">
  <div>
    <h2>PARTNERS: </h2>
  </div>

  <img src="{% static 'blog/img/partner0.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner1.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner2.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner4.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner5.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner7.png' %}" alt="" width='200px'>
</div>

</div>
{% else %}

<div class="index-slider">
  <div>


    <div class="text-img">
      <img src="{% static 'blog/img/indexslider1.png' %}">
      <div class="text">
        {{ textbox1|safe }}
      </div>
    </div>

  </div>




  <div>



    <div class="text-img">
      <img src="{% static 'blog/img/indexslider2.png' %}">
      <div class="text">
        {{ textbox2|safe }}
      </div>
    </div>
  </div>
  <div>


    <div class="text-img">
      <img src="{% static 'blog/img/indexslider3.png'%}">
      <div class="text">
        {{ textbox3|safe }}
      </div>
    </div>

  </div>
</div>
<div class='ab' id="partners">
  <div>
    <h2>: الشركاء</h2>
  </div>

  <img src="{% static 'blog/img/partner0.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner1.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner2.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner4.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner5.png' %}" alt="" width='200px'>
  <img src="{% static 'blog/img/partner7.png' %}" alt="" width='200px'>
  {% endif %}



</div>

</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static  'admin/js/slick/slick.min.js' %}"></script>


<script>
  $('.index-slider').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
    arrows: true,
    dots: true,
    waitForAnimate: false,
    touchThreshold: 100,
    centerPadding: 0,
    speed: 400
  });
</script>

<script src="{% static  'blog/js/carouse.js' %}"></script>
{% endblock %}