{% extends 'base_blog.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/involved.css' %}">
{% endblock %}
{% block main %}

{% if lang == "en" %}
<div class='container main-container'>
    <div id="top">
        <div class='left'>
            <img src="{% static 'blog/img/image5.png' %}">
        </div>
        <div class='right'>
            <div class='textbox'>


                <div class='gardient7' id='title'>
                    <h1>GET INVOLVED </h1>
                </div>
                {{ textbox0|safe }}
            </div>
        </div>
    </div>
    <div id="breaks"></div>
    <div id="partners">
        <div><h2>partners</h2></div>
        <img src="{% static 'blog/img/partner0.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner1.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner2.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner3.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner4.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner5.png' %}" alt="" height='200px'>
        <img src="{% static 'blog/img/partner6.png' %}" alt="" height='200px'>
    </div>



</div>

{% else %}
<div class='container main-container ab'>
        <div id="top">
            <div class='left'>
                <img src="{% static 'blog/img/image5.png' %}">
            </div>
            <div class='right'>
                <div class='textbox'>

                    <div class='gardient7' id='title_ab'>
                        <h1>ساهم في تقديم الدعم</h1>
                    </div>
                    <br>
                    {{ textbox0|safe }}
                </div>
            </div>
        </div>
        <div id="breaks"></div>
        <div id="partners">
            <div><h2>:الشركاء</h2></div>
            <img src="{% static 'blog/img/partner0.png' %}" alt="" width='200px'>
            <img src="{% static 'blog/img/partner1.png' %}" alt="" width='200px'>
            <img src="{% static 'blog/img/partner2.png' %}" alt="" width='200px'>
            <img src="{% static 'blog/img/partner4.png' %}" alt="" width='200px'>
            <img src="{% static 'blog/img/partner5.png' %}" alt="" width='200px'>
            <img src="{% static 'blog/img/partner7.png' %}" alt="" width='200px'>
        </div>
    

     

    
    
</div>
{% endif %}

{% endblock %}