{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/journey.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container main-container'>
        <div class="one">
                <div class='left'>
                        <div class='textbox'>
                                <div id='title' class='gardient7'>
                                        <h1>Prostate Cancer Journey </h1>
                                </div>
                                {{ textbox0|safe }}


                        </div>
                </div>
                

                <div class="right">
                <h2 class='title4'>Specialists you might have to deal include</h2>

                <div class="lists">

                        <div class='textbox'>
                                {{ textbox1|safe }}
                        </div>
                        <div class='textbox'>
                                {{ textbox2|safe }}
                        </div>
                        <div class='textbox'>
                                {{ textbox3|safe }}
                        </div>
                </div>
                </div>
        </div>
        <div class="two">
                <img src='{% static "blog/img/journey.png" %}'>

                <div id='smallbox'>
               
                </div>
        </div>

</div>
{% else %}
<div class='ab container main-container reversed'>
        <div class='one'>
                <div class="left">
                        <div class='textbox'>
                                <div id='title_ab' class='gardient7'>
                                        <h1>رحلة سرطان البروستاتا </h1>
                                </div>
                                <br>
                                {{ textbox0|safe }}
                        </div>
                </div>
                <div class="right">
                <h2 class='title4'> أطباء وأخصائيون قد تتعامل معهم: </h2>
                
                        <div class="lists">

                                        <div class='textbox'>
                                                        {{ textbox3|safe }}
                                                </div>

                 
                   
                </div>
                </div>



        </div>

<div class="two">
        <img src='{% static "blog/img/journey_ab.png" %}' >

        <div id='smallbox'>
     
        </div>
</div>
</div>






{% endif %}
{% endblock %}