{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/mena.css' %}">
{% endblock %}
{% block main %}

{% if lang == "en" %}
<div class='container row_cont' style='background-image: url({% static "blog/img/mena-bck.jpg" %})'>
  
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title'>
                <h1>Prostate Cancer prevalence across MENA </h1>
            </div>

            <table>
                <tr>
                    <th class='gardient7 '>Country</th>
                    <th class='gardient7 '>Prostate cancer prevalence in terms of incidence</th>
                    <th class='gardient7 '>Prostate cancer prevalence in terms of mortality</th>
                    <th class='gardient7 '>% of men at age group risk</th>
                </tr>
                {% for table in tabledata%}
                
                <tr>
                        <td>{{ table.state }}</td>
                        <td>{{ table.incidence }}</td>
                        <td>{{ table.mortality }}</td>
                        <td>{{ table.risk }}</td>
                </tr>   
                {% endfor %}  
             
            </table>
        <div class="text">
            {{ textbox0|safe }}
        </div>

        </div>
    </div>

    <div class='right'>

        </div>
</div>
{% else %}

    <div class='container row_cont_ab' style='background-image: url({% static "blog/img/mena-bck.jpg" %})' >
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title_ab' >
                <h1>معدلات انتشار سرطان البروستاتا
                    في منطقة الشرق الأوسط وشمال أفريقيا</h1>
            </div>

            <table>
                <tr>
                    <th class='gardient7 '>انتشار سرطان البروستاتا
                        من حيث الوفاة</th>
                    <th class='gardient7 '>انتشار سرطان البروستاتا
                        من حيث الوفاة</th>
                    <th class='gardient7 '>انتشار سرطان البروستاتا
                        من حيث الحدوث</th>
                    <th class='gardient7 '>الدولة</th>
                </tr>
                {% for table in tabledata%}
                
                <tr>
                        
                      
                        
                        <td>{{ table.risk }}</td>
                        <td>{{ table.mortality }}</td>
                        <td>{{ table.incidence }}</td>
                        <td>{{ table.state }}</td>
                </tr>   
                {% endfor %}  
            </table>
            <div class="ab textbox">
                {{ textbox0|safe }}
            </div>
        </div>
    </div>
    <div class='right'>

        </div>
    {% endif %}
  

    {% endblock %}