{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/questions.css' %}">
{% endblock %}
{% block main %}

{% if lang == "en"%}
<div class='container main-container'
    style='background-image: url({% static "/blog/img/questions.png" %}); background-size:auto 100%; background-attachment: fixed;'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title'>
                <h1>QUESTIONS TO ASK YOUR DOCTOR </h1>
            </div>
            {{ textbox0|safe }}


        </div>
    </div>
<div class='textbox'>
    <h2>About treatment options for localised prostate cancer</h2>
</div>
    <div class='right'>
        <div  class='textbox'>

            {{ textbox1|safe }}

        </div>
        <div  class='textbox'>
          
        </div>
        <div  class='textbox'>
      
        </div>
    </div>
    <div class='textbox'>
            <h2>About treatment options for advanced prostate cancer</h2>
    </div>

    <div class='right'>
        <div  class='textbox'>
            {{ textbox2|safe }}
        </div>
        <div  class='textbox'>
           
        </div>
        <div  class='textbox'>
   
        </div>
    </div>
</div>

{% else %}
<div class=' ab container main-container' style='background-image: url({% static "/blog/img/questions-ab.png" %});'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title_ab'>
                <h1>أسئلة تُطرح على طبيبك</h1>
                <!---1-->
                <!--2-->
            </div>
            {{ textbox0|safe }}


        </div>
    </div>

    <div class='right'>
        <div class='textbox'>

            {{ textbox1|safe }}

        </div>
        <div class='textbox'>


            {{ textbox2|safe }}
        </div>
 
    </div>

    <div class='right'>
        <div class='textbox'>
            {{ textbox4|safe }}
        </div>
        <div class='textbox'>
            {{ textbox5|safe }}
        </div>
        <div class='textbox'>
            {{ textbox6|safe }}
        </div>


    </div>
</div>


{% endif %}
{% endblock %}