{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/riskfactor.css' %}">
{% endblock %}
{% block main %}

{% if lang == "en" %}
<div class='container'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7' id='title'>
                <h1>Risk Factors </h1>
            </div>

            {{ textbox0|safe }}
        </div>
    </div>

    <div class='right'>
        <div class='textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (1).png");'>
                <h2>1-Age factor</h2>
            </div>

            {{ textbox1|safe }}
        </div>
        <div class='textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (2).png");'>
                <h2>2-Family history factor</h2>
            </div>
            {{ textbox2|safe }}
        </div>
        <div class='textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (3).png");'>
                <h2>3-Race factor </h2>
            </div>

            {{ textbox3|safe }}
        </div>
        <div class='textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (4).png");'>
                <h2>4-Bad habits</h2>
            </div>


            {{ textbox4|safe }}
        </div>
    </div>
</div>
{% else %}

<div class='ab container main-container'>
    <div class='ab left'>
        <div class='ab textbox'>
            <div class='ab gardient7' id='title_ab'>
                <h1>عوامل الخطر </h1>
            </div>

            {{ textbox0|safe }}
        </div>
    </div>

    <div class='ab right'>
        <div class='ab textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (1).png");'>
                <h2> ١- العمر </h2>
            </div>


            <br>
            {{ textbox1|safe }}
        </div>
        <div class='ab textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (2).png");'>
                <h2>٢- التاريخ المرضي للعائلة</h2>
            </div>


            {{ textbox2|safe }}
        </div>
        <div class='ab textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (3).png");'>
                <h2>٣- عامل العرق او السلالة</h2>
            </div>

            {{ textbox3|safe }}
        </div>
        <div class='ab textbox'>

            <div class="imagebox" style='background-image: url("../static/blog/img/riskfactor (4).png");'>
                <h2>٤- العادات السيئه</h2>
            </div>

            {{ textbox4|safe }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}