{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/screening.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container col_cont ' style='background-image: url({% static "blog/img/screening.jpg" %});'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title'>
                <h1>Screening </h1>
            </div>

            {{ textbox0|safe }}
        </div>
    </div>
    <div class='right screen-right'>
    </div>
</div>
{% else %}


<div class='ab container col_cont' style='background-image: url({% static "blog/img/screening_ab.jpg" %});'>
    <div class='right'>


    </div>
    <div class="left">
        <div class='textbox'>
            <div class='gardient7 ' id='title_ab'>
                <h1>تشخيص المرض </h1>
            </div>

            {{ textbox0|safe }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}