{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/search.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container main-container'
    style='background-image: url({% static "blog/img/search.png"%});'>
    <div class='left'>
            <h1>Search results:</h1>
            {% for r in result %}
            <div class="result_box">
                <div class="search_page">
                <a href='{{ r.url }}'>prostatecancer.me{{ r.url }}</a>
                </div>
                <div class="search_body">
                {{ r.body }}
                </div>
            </div>
            {% endfor %}
    
    </div>
    <div class='right'>


    </div>
</div>
{% else %}
<div class='ab container main-container'
    style='background-image: url({% static "blog/img/search.png"%});  '>
    <div class='left'>
            <h1> :نتائج البحث</h1>
            {% for r in result %}
            <div class="result_box">
                <div class="search_page">
                <a href='{{ r.url }}'>prostatecancer.me{{ r.url }}</a>
                </div>
                <div class="search_body">
                {{ r.body }}
                </div>
            </div>
            {% endfor %}
    </div>

    <div class='right'>


    </div>
</div>
{% endif %}



{% endblock %}