{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/treatmet-options.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en"%}
<div class='container main-container'
    style='background-image: url({% static "blog/img/treatmet-options-bckg.png"%}); background-size:contain; background-position: right top; background-attachment: fixed;'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title'>
                <h1>Staging and Treatment Options </h1>
            </div>
            <div class='textbox'>
                    {{ textbox4|safe }}
                </div>
            <table>
                <tr>
                    <th>Stage 1. Localized</th>
                    <th>Stage 2. Locally Advanced</th>
                    <th>Stage 3. Metastatic </th>

                </tr>
                {% for table in tabledata%}

                <tr>
                    <td>{{ table.treatment_localized }}</td>
                    <td>{{ table.treatment_advanced  }}</td>
                    <td>{{ table.treatment_metastatic }}</td>

                </tr>
                {% endfor %}

            </table>
            <div class='textbox'>
                {{ textbox0|safe }}
            </div>



        </div>
    </div>

    <div class='right'>
        <h2>ACTIVE TREATMENT OPTIONS:</h2>
        <div class="lists">
            <div class='textbox'>



                {{ textbox1|safe }}


            </div>
            <div class='textbox'>
                {{ textbox2|safe }}
            </div>

            <div class='textbox'>
                {{ textbox3|safe }}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class='ab container main-container'
    style='background-image: url({% static "blog/img/treatment-flip.png"%}); background-size:contain; background-position: left top; background-attachment: fixed;'>
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title_ab'>
                <h1>خيارات العلاج</h1>
            </div>
            <div class='textbox'>
                    {{ textbox4|safe }}
                </div>
            <table>
                <tr>

                    <th>المرض منتشر </th>
                    <th>المرض منتشر موضعيا</th>
                    <th>المرض موضعى</th>



                </tr>
                {% for table in tabledata %}

                <tr>

                    <td>{{ table.treatment_metastatic }}</td>
                    <td>{{ table.treatment_advanced  }}</td>
                    <td>{{ table.treatment_localized }}</td>



                </tr>
                {% endfor %}

            </table>

            <div class='textbox'>
                {{ textbox0|safe }}
            </div>



        </div>
    </div>

    <div class='right'>

        <div class="lists">
            <div class='textbox'>
                <div class='textbox'>
                    {{ textbox1|safe }}
                </div>
                <div class='textbox'>
                    {{ textbox2|safe }}
                </div>
                <div class='textbox'>
                    {{ textbox3|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}