{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'blog/css/pages/well.css' %}">
{% endblock %}
{% block main %}
{% if lang == "en" %}
<div class='container main-container' style="background-image: url({% static  '\blog\img\well-bg.png' %}) ;  background-repeat: no-repeat; background-size: cover;  background-attachment: fixed;
    background-position: left 0px;">
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7' id='title'>
                <h1>WellBeing </h1>
            </div>
            {{ textbox0|safe }}


        </div>
    </div>


    <div class='middle'>
            <div>
                <div class="textbox"> {{ textbox1|safe }}</div>
                <div class="textbox"> {{ textbox2|safe }}</div>
                <div class="textbox"> {{ textbox3|safe }}</div>
               
            </div>
    
            <div>
                    <div class="textbox"> {{ textbox4|safe }}</div>
                    <div class="textbox"> {{ textbox5|safe }}</div>
                    <div class="textbox"> {{ textbox6|safe }}</div>
            </div>
    
            <div>
                    <div class="textbox"> {{ textbox7|safe }}</div>
                    <div class="textbox"> {{ textbox8|safe }}</div>
                    <div class="textbox"> {{ textbox9|safe }}</div>
            </div>
            <div>
                    <div class="textbox"> {{ textbox10|safe }}</div>
                    <div class="textbox"> {{ textbox11|safe }}</div>
                    <div class="textbox"> {{ textbox12|safe }}</div>
            </div>
    
        
    
        </div>

    <div class='right'>
        <div class='r'>
            <div class='smallbox'>
                <div class="shadow">
                    <h2 style=" border-color: rgb(226, 206, 41);">EAT HEALTHY</h2>
                </div>

                <div id='textbox'>
                    {{ textbox13|safe }}
                </div>
            </div>
            <div class='smallbox'>
                <div class="shadow">
                    <h2>Exercise</h2>
                </div>

                <div id='textbox'>
                    {{ textbox14|safe }}


                    <div id='textbox'>
                        {{ textbox15|safe }}
                    </div>

                </div>

                <div class='smallbox'>
                    <div class="shadow">
                        <h2>Sexuality, intimacy, cancer and caring</h2>
                    </div>

                    {{ textbox16|safe }}
                </div>

                <div id='textbox'>
                    {{ textbox17|safe }}
                </div>
                <div id='textbox'>
                    {{ textbox18|safe }}
                    </ul>
                </div>
            </div>

        </div>
        <div class='l'>
            <img src='{% static "blog/img/wellbeing_pie.png"%}'>
            <div class='smallbox'>
                <div class="shadow">
                    <h2>Pain</h2>
                </div>

                <div id='textbox'>
                    {{ textbox19|safe }}
                </div>

            </div>
        </div>

    </div>
</div>
{% else %}
<div class='container main-container ab'
    style="background-image: url({% static  '\blog\img\wb-flip.png' %}) ;  background-repeat: no-repeat; background-size: cover; background-position: right 0px; background-attachmnet: fixed;">
    <div class='left'>
        <div class='textbox'>
            <div class='gardient7 ' id='title_ab'>
                <h1>الحفاظ على العافية والصحة </h1>
            </div>
            <br>
            <p>
                {{ textbox0|safe }}

        </div>
    </div>


    <div class='middle'>
        <div>
            <div class="textbox"> {{ textbox1|safe }}</div>
            <div class="textbox"> {{ textbox2|safe }}</div>
            <div class="textbox"> {{ textbox16|safe }} </div>
           
        </div>

     

    

    </div>

    <div class='right right-ab'>
            <img class='mobile' src='{% static "blog/img/wellbeing_ab.png"%}'>
        <div>
            <div id='smallbox'>
                <div class="shadow">
                  
                    <h2>أهمية تناول الطعام الصحي</h2>
                </div>

                <div id='textbox'>
                    {{ textbox12|safe }}
                </div>

            </div>
            <div id='smallbox'>
                <div class="shadow">
                    <h2>ممارسه الرياضة</h2>
                </div>

                <div id='textbox'>
                    {{ textbox13|safe }}
                </div>



            </div>

            <div id='smallbox'>
                <div class="shadow">
                    <h2>تأثير السرطان على النشاط الجنسي والحميمية </h2>
                </div>

                <div id='textbox'>
                    {{ textbox14|safe }}
                </div>

            </div>
        </div>


        <div class="drugi">
            <img class='desktop' src='{% static "blog/img/wellbeing_ab.png"%}'>
            <div id='smallbox'>
                <div class="shadow">
                    <h2>رعاية الالم</h2>
                </div>

                <div id='textbox'>
                    {{ textbox15|safe }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}