{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  '/blog/css/pages/whatispc.css' %}">
{% endblock %}
{% block main %}
<div class='container row_cont'>
        {% if lang == "en" %}
    <div class='left'>
        <img src="{% static 'blog/img/prostatecancer.jpg' %}">
    </div>
    <div class='right'>
        
      
        <div class='textbox'>
                <div class='gardient7 ' id='title'>
                        <h1>What is Prostate cancer?</h1>
                    </div>
            
         
                    {{ textbox0|safe }}
        </div>
        {% else %}
        <div class='left'>
                <img src="{% static 'blog/img/prostate_cancer_ab.png' %}">
            </div>
            <div class='right'>
        <div class='textbox_ab'>
            
                <div class='gardient7 ' id='title_ab'>
                    <h1>ما هو سرطان البروستاتا؟</h1>
    
                </div>
                {{ textbox0|safe }}
            </div>

        {% endif %}
    </div>
</div>
{% endblock %}