{% extends 'base_blog.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  '/blog/css/pages/what.css' %}">
{% endblock %}
{% block main %}
<div class='container row_cont'>
        <div class='left'>
                {% if lang == "en" %}
                <img class='desc' src="{% static 'blog/img/prostate.jpg' %}">
                

                <div class='textbox'>
                        <div class="title2">
                                <h2>What does prostate do?</h2>
                        </div>
                        {{ textbox0|safe }}
                </div>
                {% else %}
                <img class='desc' src="{% static 'blog/img/prostate_ab.png' %}">
                <div class='textbox_ab'>
                        <div class="title2_ab">
                        <h2>ما هي وظيفة البروستاتا؟</h2>
                        </div>
                        {{ textbox0|safe }}
                </div>
                {% endif %}
        </div>
        <div class='right'>
                <div>

                        {% if lang == "en" %}
                        <div class='gardient7' id='title'>
                                <h1>What is Prostate?</h1>

                        </div>
                        <div class='textbox'>
                                {{ textbox1|safe }}
                        </div>
                        {% else %}
                        <div class='gardient7 ' id='title_ab'>
                                <h1>ما هي البروستاتا؟ </h1>

                        </div>
                        <div class='textbox_ab'>
                        <br>
                        {{ textbox1|safe }}
                        <br>
                        </div>

                </div>

                {% endif %}
        </div>
</div>
</div>
{% endblock %}