footer > .container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
}

footer > div.container > .fright {
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
    padding-right: 2vw;

}

.astelas {
    height:3vh;
    margin-right: 0.5vw;
}

footer > div.container > .fright >span>a {

    margin-left: 0.5vw;
}

footer > div.container > .fleft {
    display:flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
}

footer {
    color:white !important;
}

footer .socialmedia {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 1vw;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


@media screen and (max-width: 1600px) {
    footer > .container {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4vw;
    }
}


@media screen and (max-width: 781px) {
	footer > .container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 14vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

}