/* Header */
header {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 7px solid #29ABE2;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
	padding: 0vw 2vw;
}


.logo {
	max-height: 14vh;

}


nav {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

}

/* header > navigation */


a:link {
	text-decoration: none;

}

a:visited {

	text-decoration: none;

}

a:hover {

	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: white;
}

a img {
	border: none;
}


nav>ul {
	display: flex;
	flex-direction: row;


}

nav ul a {
	color: rgb(41, 171, 226);
}

.dropdown-content {
	position: absolute;
	display: none;
	background-color: rgba(41, 171, 226, 0.7);
	width: 220px;
	text-align: center;
	z-index: 10;
}

.dropdown-content>li {
	color: rgb(41, 171, 226);
	/*border: 1px solid rgb(41, 171, 226);*/
	padding-top: 1vw;
	padding-bottom: 1vw;


}

.dropdown-content>li:hover{
	background-color: rgba(41, 171, 226, 0.9);
}

.dropdown-content>li a {
	color: white;
}

/*.dropdown-content>li:hover {
	background-color: rgba(41, 171, 226, 1);

}*/

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	text-align: center;
}

#border {
	border-right: 0.5px solid #29ABE2;
	height: 15px;
	display: inline-block;
	width: 15px;
}


nav>ul>li>a {
	padding: 15px 15px 15px 15px;
	margin: 15px 15px 15px 15px;
}

/*nav>ul>li>a:hover {
	padding: 15px 14px 15px 14px;
	border: 1px solid #29ABE2;
}*/

.search {
	border-radius: 50px;
	display: inline-block;
	border: 1px double #29ABE2;


}

.search i {
	margin-right: 4px;
}


.search button:focus {
	border: none;
	outline: none;

}

input {
	color: white;
}

input:focus {
	outline-offset: -2px;
	border: none;
	outline: none;

}

.lang,
.form {
	display: inline-block;

}

.lang {

	display: flex;
	justify-content: flex-start;
	width:7vw;
}

.lang .dropdown-content {
	display: none;
	width:7vw;
	position: absolute;
	top: 4vw;

}

.search>input {
	height: 34px;
	border: none;
	background-color: transparent;
}

.search>button {
	border: none;
	background-color: transparent;
	height: 34px;
	font-size: 20px;
	color: white;
}

.nav_font {
	/*font-family: SourceSansRoman Regular;*/
	font-size: 1.8vh;
	text-transform: uppercase;
	color: #29ABE2;

}


@media screen and (max-width: 1150px) {


	#border {
		display: none;
	}


	nav>ul>li>a {
		padding: 0;
		margin: 0;
	}

	#topnav.responsive {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 15vh;
		left: 0;
		z-index: 100;
		background-color: rgba(41, 171, 226, 1);
		width: 100%;
		text-align: center;
		font-family: MyriadPro-Light;

	}

	#topnav.responsive ul:not(.dropdown-content) {
		display: flex;
		flex-direction: column;
		width: 100%;

	}

	#topnav.responsive ul li {
		/*height: 4vw;*/
	}


	#topnav.responsive ul li,
	#topnav.responsive ul a {
		color: white;

	}

	#topnav.responsive ul a {
		padding: 7px 0;
		display: block;
		font-size: 16px;

	}

	.dropdown-content {
		position: relative;
		display: flex;
		flex-direction: column;
		/*background-color: rgba(41, 21, 226, 0.2);*/
		width: 100%;
		text-align: center;
		z-index: auto;
	}

	.dropdown:hover .dropdown-content {
		display: block;

	}

	
.lang .dropdown-content {
	display: none;
	width:30vw;
	position: absolute;
	top: 4vw;




}