
#partners  {   
font-family: MyriadPro-Light, serif;
}




.index-slider .text  {  
max-width :50%;
position: absolute;
right: 0;
z-index: 100;

}



.index-slider .text-img  {position: relative;}

@media screen and (max-width :767px)  { 

.index-slider .text  {  
position: static;
}


.index-slider img  {height: auto;}


.index-slider .text  {max-width :100%;padding-bottom: 40px;padding-top: 20px;}


}



 

footer > .container  {  
height: 80px;
font-size :18px;
font-family: MyriadPro-Light, serif;

}


@media screen and (max-width :781px)  {  
footer > .container  {  
display:block;
height :auto;
padding-left:13px;
margin-top: 60px;
text-align: center;
}




.astelas  {  
height :30px;
}

}


@media screen and (max-width: 1200px) {
	
#partners {
	flex-direction: column;
}

}
