@charset "utf-8";

* {
	box-sizing: border-box;
}

@font-face {
	font-family: "MyriadPro-Light";
	src: url("./Fonts/MyriadPro-Light.otf");

}

@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "_MyriadPro-Black.otf";
	src: url("./Fonts/._MyriadPro-Black.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "._MyriadPro-BlackIt.otf";
	src: url("./Fonts/._MyriadPro-BlackIt.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "_MyriadPro-Light.otf";
	src: url("./Fonts/._MyriadPro-Light.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "_MyriadPro-LightIt.otf";
	src: url("./Fonts/._MyriadPro-LightIt.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "AcuminVariableConcept.otf";
	src: url("./Fonts/AcuminVariableConcept.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-Black.otf";
	src: url("./Fonts/MyriadPro-Black.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-BlackIt.otf";
	src: url("./Fonts/MyriadPro-BlackIt.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MYRIADPRO-BOLDIT_1.OTF";
	src: url("./Fonts/MYRIADPRO-BOLDIT_1.OTF") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MYRIADPRO-BOLD_1.OTF";
	src: url("./Fonts/MYRIADPRO-BOLD_1.OTF") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MYRIADPRO-CONDIT_1.OTF";
	src: url("./Fonts/MYRIADPRO-CONDIT_1.OTF") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-It_0.otf";
	src: url("./Fonts/MyriadPro-It_0.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-Light.otf";
	src: url("./Fonts/MyriadPro-Light.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-LightIt.otf";
	src: url("./Fonts/MyriadPro-LightIt.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadPro-Regular_2.otf";
	src: url("./Fonts/MyriadPro-Regular_2.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MYRIADPRO-SEMIBOLDIT_1.OTF";
	src: url("./Fonts/MYRIADPRO-SEMIBOLDIT_1.OTF") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MYRIADPRO-SEMIBOLD_1.OTF";
	src: url("./Fonts/MYRIADPRO-SEMIBOLD_1.OTF") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "MyriadVariableConcept-Roman.otf";
	src: url("./Fonts/MyriadVariableConcept-Roman.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "SourceSansVariable-Italic.otf";
	src: url("./Fonts/SourceSansVariable-Italic.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "SourceSansVariable-Roman.otf";
	src: url("./Fonts/SourceSansVariable-Roman.otf") format('otf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html {
	height: 100%;
}

.container {
	width: 100%;
}

* {
	word-wrap: break-word;
}


body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
}

main {
	min-height: 75vh;
}


.textbox {
	padding: 0 30px 0 0;
}


/* main */
#title {
	display: inline-block;
	height: 50px;
	width: 200px;
	padding: 5px 0px 5px 15px;
	position: relative;
}

#title h1 {
	color: white;
	font-size: 24px;
	font-family: MyriadPro-Light;
}


#title::after {
	content: '';
	display: inline-block;

	position: absolute;
	top: 0px;
	left: 100%;
	border-bottom: 25px solid rgba(80, 196, 250, 1);
	border-top: 25px solid transparent;
	border-left: 25px solid rgba(80, 196, 250, 1);
	border-right: 25px solid transparent;
}

#title_ab {
	display: block;
	height: 50px;
	width: 250px;
	padding: 5px 0px 5px 15px;
	position: relative;
	text-align: right;
	margin-left: auto;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
}

footer a:focus {
	color: white;
}

footer a:link {
	color: white;
}


#title_ab>h1 {
	font-size: 30px;
	color: white;
	padding-right: 20px;
	font-family: MyriadPro-Light;
}

#title_ab::after {
	content: '';
	display: inline-block;
	background: transparent;
	position: absolute;
	top: 0px;
	left: -50px;
	border-bottom: 25px solid rgba(80, 196, 250, 1);
	border-top: 25px solid transparent;
	border-left: 25px solid transparent;
	border-right: 25px solid rgba(80, 196, 250, 1);
}

.row_cont {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 75vh;
	padding: 40px 10px;
}

.title2 {
	width: 100%;
	min-height: 30px;
}

.title2 h2 {
	text-align: left;
	font-family: MyriadPro-Light;
}

.title3 {}

.title4 {}

.col_cont {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;

}

.col_cont1 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;


}

.left,
.right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50vw;
}

.bold {
	font-weight: bold;
}

.right {
	flex-direction: column;
}

.textbox li {
	color: rgb(41, 171, 226);
	font-family: MyriadPro-Light;
	font-size: 16px;
	list-style-type: disc;
}

.textbox_ab li {
	color: rgb(41, 171, 226);
	font-family: MyriadPro-Light;
	font-size: 16px;
	list-style-type: disc;
}

.right ul {
	position: relative;
	left: 20px;
}

.border-left {
	border-left: 5px solid rgb(41, 171, 226);
	padding-left: 20px;
}

.border-right {
	border-right: 5px solid rgb(41, 171, 226);
	padding-right: 20px;
}

/* gardients */
p {
	color: rgb(41, 171, 226);
	font-family: MyriadPro-Light;
	font-size: 16px;
}

p#small {
	color: rgb(41, 171, 226);
	font-family: MyriadPro-Light;
	font-size: 12px;
}

#shape_ab~p {

	text-align: right;
}

#shape_ab~p#small {

	text-align: right;
}


.textbox_ab {
	padding-top: 30px;
}

.textbox_ab p {
	text-align: right;
}



.desc {
	max-width: 70%;
}

.gardient7 {
	background: rgba(80, 196, 250, 1);

}

.gardient12 {
	background: rgb(148, 229, 255);
	padding-left: 30px;
	background: radial-gradient(circle, rgba(148, 229, 255, 1) 0%, rgba(136, 215, 253, 1) 16%, rgba(124, 201, 250, 1) 24%, rgba(80, 196, 255, 1) 100%);
}

a.icon {
	display: none;
	font-size: 3vw;
	color: rgb(41, 171, 226);
}

.textbox {
	padding-top: 30px;

}


.ab .textbox {
	text-align: right;
}

.ab-nav {
	display: flex;
	flex-direction: row-reverse;
}

strong {
	font-weight: 900 !important;
}


@media screen and (max-width: 1150px) {
	#topnav {
		display: none;
	}

	a.icon {

		display: block;
	}

}


@media screen and (max-width: 1150px) {

	.left,
	.right,
	.textbox,
	.row_cont,
	.main-container,
	#top,
	#partners,
	.container .main-container .ab p {
		width: 100% !important;
		flex-direction: column;
		padding: 0;
	}

	.container.main-container.ab {
		padding: 0;
		padding-top: 15px;
	}

	p {

		margin-left: 0;
	}

	.search,
	.form {
		display: none !important;
	}

	#partners img {
		margin-top: 20px !important;
	}

	a.icon>i {
		font-size: 40px;
	}

	img {
		max-width: 90% !important;

	}


	.index-slider {
		height: 82vh !important;
	}

	.index-slider .text {
		height: 60% !important;
		font-size: 20px !important;
	}

	.slick-list {
		height: 90% !important;
	}

	.slick-track {
		height: 100% !important
	}

	.slick-list p {
		font-size: 20px;
	}
}