{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static  'blog/css/reset.css' %}">
    <link rel="stylesheet" href="{% static  'blog/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static  '/blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static  '/blog/css/header.css' %}">
    <link rel="stylesheet" href="{% static  '/blog/css/footer.css' %}">
    {% block css %}

    {% endblock %}
    <LINK REL="stylesheet" TYPE="text/css" media="(max-width: 900px)" HREF="/blog/css/mobile.css">
    <link rel="stylesheet" href="{% static  '/blog/css/milos.css' %}">
    {% block title %}
    <title>Prostate Cancer Middle East</title>
    {% endblock %}
</head>

<body>
    <header class='container'>


        {% if lang == "en" %}
        <a href='{% url "index" lang="en" %}'><img class="logo" src="{% static  'blog/img/logo.png' %}"></img></a>
        <nav id='topnav'>
            <ul>
                <li><a href='{% url "about" lang="en" %}' class='nav_font'>ABOUT US</a>
                    <div id='border'></div>
                </li>
                <li class='dropdown'><a href='' class='nav_font'>PROSTATE CANCER</a>
                    <div id='border'></div>
                    <ul class='dropdown-content'>
                        <li><a href='{% url "Whatisprostate" lang="en" %}'>What is Prostate?</a></li>
                        <li><a href='{% url "whatisprostatecancer" lang="en" %}'>What is Prostate Cancer?</a></li>
                        <li><a href='{% url "mena" lang="en" %}'>Prostate Cancer in MENA regions</a></li>
                        <li><a href='{% url "riskfactors" lang="en" %}'>Risk Factors</a></li>
                        <li><a href='{% url "screening" lang="en" %}'>Screening</a></li>
                        <li><a href='{% url "dad" lang="en" %}'>Detection and Diagnosis</a></li>
                    </ul>



                </li>
                <li class=' dropdown'><a class='nav_font' href='{% url "journey" lang="en" %}'>TREATMENT JOURNEY</a>
                    <div id='border'></div>
                    <ul class='dropdown-content'>
                        <li><a href='{% url "treatment" lang="en" %}'>Treatment Options </a></li>
                        <li><a href='{% url "questions" lang="en"  %}'>Questions for your doctor</a></li>
                        <li><a href='{% url "well" lang="en"  %}'>Well Being</a></li>

                    </ul>
                </li>
                <li><a href='{% url "caring" lang="en" %}' class='nav_font'>CARING FOR SOMEONE</a>
                    <div id='border'></div>
                </li>
                <li><a href='{% url "involved" lang="en" %}' class='nav_font'>GET INVOLVED</a></li>
            </ul>






        </nav>
        <div class='form'>
            <form action='{% url "search" lang="en" %}' method="POST">
                {% csrf_token %}
                <div class='gardient7 search'>
                    <input type="text" style='padding-left:6px;' name='q' value='{{ request.GET.q }}'>
                    <button type='submit' value='Search'><i class='fa fa-search'></i></button>


                </div>
            </form>
        </div>
        <div class='lang dropdown'>

            <a href='' class='nav_font'><i class='fa fa-globe'></i> English</a>
            <ul class='dropdown-content'>
                <li><a href='' id='eg_lang'><i class='fa fa-globe'></i> English</a></li>
                <li><a href='' id='ab_lang'><i class='fa fa-globe'></i> عربي </a></li>
            </ul>

        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

        {% elif lang == "ab" %}

        <a href='{% url "index" lang="ab" %}'><img class="logo" src="{% static  'blog/img/logo.png' %}"></img></a>
        <nav id='topnav'>
            <ul class='ab-nav'>

                <li><div id='border'></div><a href='{% url "about" lang="ab" %}' class='nav_font'> نبذة عنا </a><div id='border'></div>
                    
                </li>
                <li class=' dropdown '><div id='border'></div><a href='' class='nav_font'> سرطان البروستاتا  </a>
               
                    <ul class='dropdown-content'>
                        <li><a href='{% url "Whatisprostate" lang="ab" %}'>ما هي البروستاتا؟</a></li>
                        <li><a href='{% url "whatisprostatecancer" lang="ab" %}'>ما هو
                                سرطان البروستاتا؟</a></li>
                        <li><a href='{% url "mena" lang="ab" %}'>انتشار سرطان البروستاتا
                                في منطقة الشرق الأوسط</a></li>
                        <li><a href='{% url "riskfactors" lang="ab" %}'>عوامل الخطر</a></li>
                        <li><a href='{% url "screening" lang="ab" %}'>تشخيص المرض</a></li>
                        <li><a href='{% url "dad" lang="ab" %}'>مراحل المرض</a></li>
                    </ul>



                </li>
                <li class=' dropdown'><div id='border'></div><a class='nav_font' href='{% url "journey" lang="ab" %}'>رحلة العلاج</a>
                    
                    <ul class='dropdown-content'>
                        <li><a href='{% url "treatment" lang="ab" %}'>خيارات العلاج</a></li>
                        <li><a href='{% url "questions" lang="ab"  %}'>أسئلة تُطرح على طبيبك</a></li>
                        <li><a href='{% url "well" lang="ab"  %}'>الحفاظ على
                                الصحة والعافية</a></li>

                    </ul>
                </li>
                <li><div id='border'></div><a href='{% url "caring" lang="ab" %}' class='nav_font'>رعاية مرضى سرطان البروستاتا</a>
                  
                </li>
                <li><a href='{% url "involved" lang="ab" %}' class='nav_font'>ساهم في تقديم الدعم</a></li>
            </ul>
        </nav>
        <div class='form'>
                <form action='{% url "search" lang="ab" %}' method="POST">
                    {% csrf_token %}
                    <div class='gardient7 search'>
                        <input type="text" style='padding-left:6px;' name='q' value='{{ request.GET.q }}'>
                        <button type='submit' value='Search'><i class='fa fa-search'></i></button>
    
    
                    </div>
                </form>
            </div>

        <div class='lang dropdown'>

            <a href='' class='nav_font'><i class='fa fa-globe'></i> عربي</a>
            <ul class='dropdown-content'>
                <li><a href='' id='eg_lang'><i class='fa fa-globe'></i> English</a></li>
                <li><a href='' id='ab_lang'><i class='fa fa-globe'></i> عربي </a></li>
            </ul>

        </div>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars ham"></i>
        </a>
       
        {% endif %}

    </header>

    <main>

        {% block main %}
        {% endblock %}

    </main>

    <footer class="container">
        <div class="container  gardient12">
            <div class="fleft">
                    {% if lang == "en" %}
                <span>
                    Copyright© The Arab League for Cancer Societies | <a href='{% url "privacy" lang="en" %}'>Privacy
                        Policy </a>
                </span>
                {% else %}
                <span>
                        Copyright© The Arab League for Cancer Societies | <a href='{% url "privacy" lang="ab" %}'>Privacy
                            Policy </a>
                    </span>
                {% endif %}
            </div>

            <div class="fright">
                <span>
                    Supported by :
                </span>
                <img class='astelas' src='{% static "blog/img/astellas.png"%}'>
                {% if lang == "en" %}
                <span>
                        |    <a href='{% url "disclamer" lang="en" %}'>Disclamer</a>

                </span>
                {% else %}
                <span>
                        |    <a href='{% url "disclamer" lang="ab" %}'>Disclamer</a>

                </span>
                {% endif %}
            </div>
        </div>


        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <scripts src='static/blog/js/custom.js'></scripts>

    {% block scripts %}


    {% endblock %}
    <script>

            var x = document.getElementById("topnav");
            var icon = document.getElementsByClassName("ham")
            console.log(icon)
            var icon_a = document.getElementsByClassName("icon")
            console.log(icon_a)
            function myFunction() {
                           if (x.className === "") {
                    x.className += " responsive";
                } else {
                   x.className = "";
                }
        }

        
        let nav = document.querySelector("#topnav");
        document.addEventListener("click", function(event) {
                if (event.target.closest(".nav")){
                console.log('nav')
                return;
            }
            else if (event.target.closest(".icon")) {
                if (nav.classList.contains('.responsive')){
                    nav.classList.remove('.responsive')
                }else if (nav.classList.contains('.responsive') === False ){
                    nav.classList.add(".responsive");
                    console.log('ham')
                }
            }
            else {
                nav.classList.remove("responsive");
                icon_a.className +=  'icon';
                console.log('res')
            }
         });



        current_url = window.location.href.split('/');
        arabic_url = '../ab/' + current_url.slice(-1);
        englis_url = '../en/' + current_url.slice(-1);
        document.getElementById("eg_lang").href = englis_url;
        document.getElementById("ab_lang").href = arabic_url;
    </script>
</body>

</html>