@font-face { 
 font-family: "_MyriadPro-Black.otf"; 
  src: url("./Fonts/._MyriadPro-Black.otf");
}
@font-face { 
 font-family: "._MyriadPro-BlackIt.otf"; 
  src: url("./Fonts/._MyriadPro-BlackIt.otf");
}
@font-face { 
 font-family: "_MyriadPro-Light.otf"; 
  src: url("./Fonts/._MyriadPro-Light.otf");
}
@font-face { 
 font-family: "_MyriadPro-LightIt.otf"; 
  src: url("./Fonts/._MyriadPro-LightIt.otf");
}
@font-face { 
 font-family: "AcuminVariableConcept.otf"; 
  src: url("./Fonts/AcuminVariableConcept.otf");
}
@font-face { 
 font-family: "MyriadPro-Black.otf"; 
  src: url("./Fonts/MyriadPro-Black.otf");
}
@font-face { 
 font-family: "MyriadPro-BlackIt.otf"; 
  src: url("./Fonts/MyriadPro-BlackIt.otf");
}
@font-face { 
 font-family: "MYRIADPRO-BOLDIT_1.OTF"; 
  src: url("./Fonts/MYRIADPRO-BOLDIT_1.OTF");
}
@font-face { 
 font-family: "MYRIADPRO-BOLD_1.OTF"; 
  src: url("./Fonts/MYRIADPRO-BOLD_1.OTF");
}
@font-face { 
 font-family: "MYRIADPRO-CONDIT_1.OTF"; 
  src: url("./Fonts/MYRIADPRO-CONDIT_1.OTF");
}
@font-face { 
 font-family: "MyriadPro-It_0.otf"; 
  src: url("./Fonts/MyriadPro-It_0.otf");
}
@font-face { 
 font-family: "MyriadPro-Light.otf"; 
  src: url("./Fonts/MyriadPro-Light.otf");
}
@font-face { 
 font-family: "MyriadPro-LightIt.otf"; 
  src: url("./Fonts/MyriadPro-LightIt.otf");
}
@font-face { 
 font-family: "MyriadPro-Regular_2.otf"; 
  src: url("./Fonts/MyriadPro-Regular_2.otf");
}
@font-face { 
 font-family: "MYRIADPRO-SEMIBOLDIT_1.OTF"; 
  src: url("./Fonts/MYRIADPRO-SEMIBOLDIT_1.OTF");
}
@font-face { 
 font-family: "MYRIADPRO-SEMIBOLD_1.OTF"; 
  src: url("./Fonts/MYRIADPRO-SEMIBOLD_1.OTF");
}
@font-face { 
 font-family: "MyriadVariableConcept-Roman.otf"; 
  src: url("./Fonts/MyriadVariableConcept-Roman.otf");
}
@font-face { 
 font-family: "SourceSansVariable-Italic.otf"; 
  src: url("./Fonts/SourceSansVariable-Italic.otf");
}
@font-face { 
 font-family: "SourceSansVariable-Roman.otf"; 
  src: url("./Fonts/SourceSansVariable-Roman.otf");
}
